@import "variables"; //variables file always upfront

//1440 width x 900 height

/* ============================== GENERAL ============================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $white;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    color: $black;
    overflow-x: hidden;
}

/* ============================== SHARED ==============================*/
.fs1{
    font-size: $fontSize1;
}

.fs2{
    font-size: $fontSize2;
}
.fs3{
    font-size: $fontSize3;
}
.fs4{
    font-size: $fontSize4;
}

.size1{
    font-size: $sizer1;
}
.size2{
    font-size: $sizer2;
}
.size3{
    font-size: $sizer3;
}
.size4{
    font-size: $sizer4;
}
.size5{
    font-size: $sizer5;
}
/* ============================== NAVBAR ============================== */



/* ============================== MEDIA QUERIES ============================== */
