/* ============================== GENERAL ============================== */
* {
  margin: 0;
  padding: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.6;
  color: hsl(0deg, 0%, 0%);
}

.container {
  width: 74%;
  max-width: 1800px;
  margin-inline: auto;
}

/* ============================== NAVBAR ============================== */
.nav {
  width: 100vw;
  height: 112px;
  position: fixed;
  top: 0;
  z-index: 10;
  position: relative;
}
.nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 13%;
  border-bottom: 1px solid hsl(219deg, 9%, 45%);
  width: 74%;
}
.nav button {
  display: none;
}
.nav__logo {
  margin-right: 26px;
}
.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  align-items: left;
  gap: 33px;
}
.nav__links a {
  position: relative;
  color: hsl(219deg, 9%, 45%);
}
.nav__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -46px;
  background-color: hsl(26deg, 100%, 55%);
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}
.nav__links a:hover {
  color: hsl(0deg, 0%, 0%);
}
.nav__links a:hover::before {
  opacity: 1;
}
.nav__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav__profile .avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.nav__profile .avatar img:hover {
  border: 2px solid hsl(26deg, 100%, 55%);
}
.nav__profile:hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__profile .showup {
  position: absolute;
  top: 110px;
  width: 360px;
  background-color: hsl(0deg, 0%, 100%);
  right: 68px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease-in-out;
  border-radius: 10px;
}
.nav__profile .showup .title {
  display: block;
  width: 100%;
  font-weight: 700;
  padding: 27px 0;
  position: relative;
}
.nav__profile .showup .title p {
  padding-left: 24px;
}
.nav__profile .showup .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid hsl(219deg, 9%, 45%);
  width: 100%;
}
.nav__profile .showup .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 17px;
  margin: 24px;
}
.nav__profile .showup .grid .pic {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 50px;
}
.nav__profile .showup .grid .pic img {
  border-radius: 5px;
  width: 100%;
}
.nav__profile .showup .grid .price {
  grid-column-start: 2;
  grid-column-end: 7;
}
.nav__profile .showup .grid .price p {
  font-size: 14px;
  color: hsl(219deg, 9%, 45%);
}
.nav__profile .showup .grid .price p strong {
  color: hsl(0deg, 0%, 0%);
}
.nav__profile .showup .grid .trash {
  grid-column-start: 7;
  grid-column-end: 8;
  margin-top: 18px;
}
.nav__profile .showup .grid .trash img {
  width: 15px;
}
.nav__profile .icon {
  cursor: pointer;
  position: relative;
}
.nav__profile .icon img {
  position: relative;
  width: 21px;
  height: 20px;
}
.nav__profile .icon small {
  position: absolute;
  background-color: hsl(26deg, 100%, 55%);
  padding: 1px 7px;
  border-radius: 50%;
  font-size: 7px;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  right: -8px;
  top: -5px;
  opacity: 0;
}
.nav__profile .icon:hover small {
  opacity: 1;
}
.nav__profile .icon:hover img {
  filter: brightness(0);
}/*# sourceMappingURL=styles.css.map */